---
layout: default
title: Home
---

<header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    data-interval="10000"
  >
    <div class="carousel-inner text-center" role="listbox">
      <!-- Slide 1 -->
      <div
        class="carousel-item active"
        style="background-image: url('assets/img/homepage-hero-generic.jpg')"
      >
        <div class="d-flex h-100 align-items-center justify-content-center">
          <div class="w-75 text-white">
            <img
              src="assets/img/ot-logo-white.png"
              style="width: 200px"
              alt="Open Targets helix logo and wordmark in white"
              class="mb-2"
            />
            <h2 class="mt-2">
              <b
                >Delivering pre-competitive insights for systematic drug target
                selection</b
              >
            </h2>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div
        class="carousel-item"
        style="background-image: url('assets/img/homepage-hero-platform.jpg')"
      >
        <div class="d-flex h-100 align-items-center justify-content-center">
          <div class="p-4 w-75" style="background-color: white">
            <h2 class="mb-4">The Open Targets Platform</h2>
            <p class="px-6">
              A freely-available, comprehensive, and open source tool that
              aggregates multiple public data sources and helps scientists
              identify and prioritise potential therapeutic drug targets for
              further investigation.
            </p>
            <a href="https://platform.opentargets.org" class="btn btn-primary"
              >Visit the Open Targets Platform</a
            >
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div
        class="carousel-item"
        style="background-image: url('assets/img/homepage-hero-genetics.jpg')"
      >
        <div class="d-flex h-100 align-items-center justify-content-center">
          <div class="p-4 w-75" style="background-color: white">
            <h2 class="mb-4">Our research</h2>
            <p>
              Our research programme generates and analyses data to connect
              targets to diseases, assess the strength of this evidence, and
              help identify and prioritise targets for drug discovery. This
              includes evidence that causally links targets and diseases, as
              well as foundational data that helps us understand biological
              processes and disease progression more deeply.
            </p>
            <a
              href="https://www.opentargets.org/science"
              class="btn btn-primary"
              >Find out more</a
            >
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center mb-5">Our Partners</h2>
        <p>
          At the heart of Open Targets is a consortium of complementary
          <a href="/partners">partner institutions</a>
          that bring their respective expertise to collaborative projects that
          improve how we systematically identify and prioritise drug targets.
        </p>
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-center align-items-center">
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 py-2">
        <a href="https://www.ebi.ac.uk/" target="_blank">
          <img src="assets/img/logos/embl-ebi.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.gene.com/" target="_blank">
          <img src="assets/img/logos/genentech.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.gsk.com" target="_blank">
          <img src="assets/img/logos/gsk_signal.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.msd.com/" target="_blank">
          <img src="assets/img/logos/msd.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.pfizer.com/" target="_blank">
          <img src="assets/img/logos/pfizer.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.sanofi.com/" target="_blank">
          <img src="assets/img/logos/sanofi.png" class="img-fluid" />
        </a>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-6 py-2 d-flex justify-content-center"
      >
        <a href="https://www.sanger.ac.uk" target="_blank">
          <img src="assets/img/logos/wellcome-sanger.png" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center mb-5">News</h2>
      </div>
      {% assign all_news = site.news | sort: 'date' | reverse %} {% for
      news_item in all_news limit:1 %} {% include news_item.html %} {% endfor %}
      <div class="col-lg-12 mt-5">
        <p class="text-center">
          <a href="/news">Read more news about Open Targets</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center mb-5">Our Principles</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6 py-3">
            <div class="card h-100">
              <div class="bg-blue text-center">
                <span class="principles-cta-icon">
                  <i class="fas fa-crosshairs"></i>
                </span>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">A systematic approach</h5>
                <p class="card-text">
                  Systematically identify and prioritise the best targets to
                  safely and effectively treat rare and common diseases
                </p>
                <div class="text-center">
                  <a href="/science" class="btn btn-primary"
                    >Our scientific approach</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 py-3">
            <div class="card h-100">
              <div class="text-center bg-blue">
                <span class="principles-cta-icon">
                  <i class="fas fa-book-open"></i>
                </span>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Open Exchange of Ideas</h5>
                <p class="card-text">
                  We are committed to making our data, methods and results
                  publicly available as soon as possible to foster an open
                  exchange of ideas
                </p>
                <div class="text-center">
                  <a href="/publications" class="btn btn-primary"
                    >Our latest publications</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 py-3">
            <div class="card h-100">
              <div class="text-center bg-blue">
                <span class="principles-cta-icon">
                  <i class="fas fa-exchange-alt"></i>
                </span>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Multidisciplinary collaboration</h5>
                <p class="card-text">
                  We believe in non-exclusive partnerships that foster the free
                  exchange of ideas, expertise, and data
                </p>
                <div class="text-center">
                  <a href="/partners" class="btn btn-primary"
                    >Our partners and collaborators</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-3">
        <div class="news-section-header">
          <h4 class="text-center">
            <a href="https://blog.opentargets.org/" target="_blank">
              <i class="fas fa-rss-square"></i>
              Blog
            </a>
          </h4>
        </div>
        <hr />
        <div class="news-section-content">
          <div id="blog-section">
            {% for post in site.data.ghost_api_response.posts %}
            <a
              class="font-weight-bold mb-1"
              href="http://blog.opentargets.org/{{post.slug}}"
              target="_blank"
            >
              {{ post.title }}
            </a>
            <p class="mb-1 font-weight-light">
              {% for author in post.authors %} {{author.name}}{% unless
              forloop.last %},{% endunless %} {% endfor %}
            </p>
            <p class="mb-1 font-weight-light">
              {{ post.published_at | date: "%-d %B %Y"}}
            </p>
            <p class="mb-4">{{post.meta_description}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-6 py-3">
        <div class="news-section-header">
          <h4 class="text-center">
            <a href="https://bsky.app/profile/opentargets.org" target="_blank">
              <i class="fa fa-brands fa-bluesky"></i>
              Bluesky
            </a>
          </h4>
        </div>
        <hr />
        <div class="news-section-content">
          <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js"
            async
          ></script>
          <div id="bluesky-section">
            <bsky-embed username="opentargets.org" limit="5" load-more="true">
          </div>
          </bsky-embed>
        </div>
      </div>
    </div>
  </div>
</section>
