---
layout: default
permalink: /people-alt
title: People
---

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Our team</h1>
      </div>
    </div>
  </div>
</header>

<section class="my-5 py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p>
          Meet the our team, bringing together expertise from academia and pharma, 
          pulling together skills from a wide range of disciplines including bioinformatics, 
          computer science, web development, human genetics, functional genomics and operations.  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Platform Team</h3>
        <p>
          The Open Targets Platform has been developed and maintained by a diverse group of individuals with specialised skills in 
          bioinformatics, computer science, web development, user experience design, and scientific outreach and training.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign platform_team = site.data.platform_team | sort: 'last_name' %}
      {% for person in platform_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <!-- <div class="col-lg-12 mb-3">
                  <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small mx-auto d-block" />
                </div> -->
                <div class="col-lg-12">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      {% if person.biography != "" %}
                        <a data-toggle="modal" href="#modal-{{ person.last_name }}">
                          <i class="fas fa-id-card fa-2x active-icon"></i>
                        </a>
                      {% endif %}
                      {% if person.biography == "" %}
                        <i class="fas fa-id-card fa-2x disabled-icon"></i>
                      {% endif %}
                    </li>
                    <li class="list-inline-item">
                      {% if person.orcid %}
                        <a href="http://orcid.org/{{ person.orcid }}" target="_blank">
                          <i class="fab fa-orcid fa-2x active-icon"></i>
                        </a>
                      {% endif %}
                      {% if person.orcid == null %}
                        <i class="fab fa-orcid fa-2x disabled-icon"></i>
                      {% endif %}
                    </li>
                    <li class="list-inline-item">
                      {% if person.twitter %}
                        <a href="https://twitter.com/{{ person.twitter }}" target="_blank">
                          <i class="fab fa-twitter-square fa-2x active-icon"></i>
                        </a>
                      {% endif %}
                      {% if person.twitter == null %}
                        <i class="fab fa-twitter-square fa-2x disabled-icon"></i>
                      {% endif %}
                    </li>
                  </ul>

                  
                </div>
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Genetics Core Team</h3>
        <p>
          The Genetics Core team focuses on using human genetics data to guide therapeutic target identification and prioritisation, 
          inform drug repositioning and predict toxicity effects. The team is currently developing a first of its kind Genetics 
          Portal that will enable users to browse, visualise and interpret human genetics and genomics data to unravel the genetic 
          underpinnings of human diseases and traits and to give insights into disease biology so that this knowledge gets translated 
          into therapeutic hypothesis.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign genetics_team = site.data.genetics_team | sort: 'last_name' %}
      {% for person in genetics_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Operations Team</h3>
        <p>
          The Operations team provides a range of services that support and enable Open Targets' multi-site partnership. They provide
          day-to-day administrative for senior management, coordinate projects and scientific operations, and implement the strategy
          and direction developed by the Executive and Scientific Leadership teams.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign operations_team = site.data.operations_team | sort: 'last_name' %}
      {% for person in operations_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class=>Scientific Advisory Board (SAB)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% assign scientific_advisory_board = site.data.scientific_advisory_board | sort: 'last_name' %}
        <ul class="list-unstyled">
          {% for person in scientific_advisory_board %}
            <li class="mt-4">
              <h5 class="mb-1">{{ person.first_name }} {{ person.last_name }}</h5>
              <p class="mb-1">{{ person.role }}</p>
              <p class="mb-1">{{ person.organisation }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>