---
layout: default
permalink: /people
title: Our team
---

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Our team</h1>
      </div>
    </div>
  </div>
</header>

<section class="my-5 py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <p>
          Open Targets brings together a team with expertise from academia and pharma, 
          pulling together skills from a wide range of disciplines including bioinformatics, 
          computer science, web development, human genetics, functional genomics and operations.
          Our <a href="#executive-leadership-team">Executive Leadership Team </a>and our
          <a href="#scientific-leadership-team">Scientific Leadership Team </a> determine the 
          strategic and scientific vision for the consortium and our 
          <a href="#operations-team">Strategy and Operations Team</a> provide the 
          necessary support to facilitate the vision and its implementation across our partners.
        </p>
        <p>
          Our <a href="/platform#platform-team">Platform Team</a> and our
          <a href="/genetics-portal#genetics-team">Genetics Team</a> are responsible for maintaining 
          our informatics resources and tools while our 
          <a href="#projects-team">Project Teams</a> conduct experimental and informatics research and our 
          <a href="/validation-lab#validation-lab-team">Validation Lab Team</a> takes targets identified from
          these projects and guides them through further screens to assess suitability
          for drug discovery programmes.
        </p>
        <p>
          And our <a href="#scientific-advisory-board">Scientific Advisory Board</a> are a group of 
          well-known individuals from academia and industry that make recommendations to further
          the sucess of our partnership. 
        </p>
      </div>
    </div>

    <hr class="m-5" />
    
    <div class="row">
      <div class="col-lg-12">
        <h3 id="executive-leadership-team">Executive Leadership Team</h3>
        <p>
          The Open Targets Executive Leadership Team (ELT) provides strategic direction for the partnership,
          engages with potential new parterns, and oversees the awarding of project grants.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign executive_leadership_team = site.data.executive_leadership_team | sort: 'order' %}
      {% for person in executive_leadership_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3 line-height-3em">{{ person.role }}</p>
              <div class="col-12">
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="img-fluid logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <hr class="m-5" />

    <div class="row">
      <div class="col-lg-12">
        <h3 id="scientific-leadership-team">Scientific Leadership Team</h3>
        <p>
          The Open Targets Scientific Leadership Team (SLT) is compromised of representatives from every partner
          and is responsible for setting the scientific priorities for the consortium and approving 
          experimental and informatics research project proposals.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign scientific_leadership_team = site.data.scientific_leadership_team | sort: 'last_name' %}
      {% for person in scientific_leadership_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              {% if person.first_name == "Jack" %}
                <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5><br />
              {% else %} 
                <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              {% endif %}
                <p class="card-subtitle mb-3 line-height-3em">{{ person.role }}</p>
              <div class="col-12">
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="img-fluid logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <hr class="m-5" />

    <div class="row">
      <div class="col-lg-12">
        <h3 id="projects-team">Project Teams</h3>
        <p>
          Through our research programme, we have funded more that 90 research positions within the institutes that we work with and 
          formed teams that engaged many more scientists across industry and academia to improve target identification and prioritisation.
        </p>
      </div>
    </div>
    
    <hr class="m-5" />

    <div class="row">
      <div class="col-lg-12">
        <h3 id="operations-team">Strategy and Operations Team</h3>
        <p>
          The Strategy and Operations Team manages our project portfolio, oversees scientific operations and works with the Executive 
          Leadership Team to develop and implement overall strategy. Our Senior Administrator also provides day-to-day support for 
          senior management.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% assign operations_team = site.data.operations_team | sort: 'last_name' %}
      {% for person in operations_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div class="col-12">
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="img-fluid logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <hr class="m-5" />

    <div class="row">
      <div class="col-lg-12">
        <h3 id="scientific-advisory-board">Scientific Advisory Board (SAB)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% assign scientific_advisory_board = site.data.scientific_advisory_board | sort: 'last_name' %}
        <ul class="list-unstyled">
          {% for person in scientific_advisory_board %}
            <li class="mt-4">
              <h5 class="mb-1">{{ person.first_name }} {{ person.last_name }}</h5>
              <p class="mb-1">{{ person.role }}</p>
              <p class="mb-1">{{ person.organisation }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>