---
layout: default
permalink: /people
title: People
---

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Our team</h1>
      </div>
    </div>
  </div>
</header>

<section class="my-5 py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p>
          Meet the our team, bringing together expertise from academia and pharma, 
          pulling together skills from a wide range of disciplines including bioinformatics, 
          computer science, web development, human genetics, functional genomics and operations.  
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Executive Leadership Team</h3>
      </div>
    </div>
    <div class="row mb-5">
      {% assign executive_leadership_team = site.data.executive_leadership_team | sort: 'last_name' %}
      {% for person in executive_leadership_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Scientific leadership team</h3>
      </div>
    </div>
    <div class="row mb-5">
      {% assign scientific_leadership_team = site.data.scientific_leadership_team | sort: 'last_name' %}
      {% for person in scientific_leadership_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Platform Team</h3>
      </div>
    </div>
    <div class="row mb-5">
      {% assign platform_team = site.data.platform_team | sort: 'last_name' %}
      {% for person in platform_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3">{{ person.role }}</p>
              <div>
                <img src="/assets/img/logos/{{person.organisation_logo}}" class="logo-small" />
              </div>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.biography }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class=>Scientific Advisory Board (SAB)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% assign scientific_advisory_board = site.data.scientific_advisory_board | sort: 'last_name' %}
        <ul class="list-unstyled">
          {% for person in scientific_advisory_board %}
            <li class="pt-4">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name }}</h5>
              <p class="card-subtitle">{{ person.role }}</p>
              <p class="card-subtitle">{{ person.organisation }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>