<div class="row">
  <div class="col-lg-12">
    <h3 id="advisory-boards">Open Targets Advisory Boards</h3>
    <h4>Scientific Leadership Team</h4>
    <p>
      The Scientific Leadership Team contains representatives from each partner and is responsible for working with the Executive Team to set the scientific priorities for the consortium and recommend to the Governance Board new multi-disciplinary research projects that progress the science of target identification and prioritisation.
    </p>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-lg-12">
    <h4>Governance Board</h4>
    <p>
      The Governance Board is composed of two senior representatives from each of the partners. The Governance Board provides strategic guidance to the consortium, and as Open Targets’ highest decision-making authority approves new research projects and major initiatives.
    </p>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-lg-12">
    <h4 id="scientific-advisory-board">Scientific Advisory Board</h4>
    <p>
      The Scientific Advisory Board are an external group of respected scientists from academia and industry that review the Open Targets research programme and make recommendations to further the success of our partnership.
    </p>
  </div>
</div>