<footer class="py-5 my-5 text-white" style="background-color:#5a5f5f;">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Contact</h5>
        <p>
          To contact the Open Targets team, please email us at 
          <a class="text-white" href="mailto:contact@opentargets.org">contact@opentargets.org</a>
        </p>
        <h5 class="text-uppercase">Follow us</h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="text-white" href="https://twitter.com/opentargets" target="_blank">
              <i class="fab fa-2x fa-twitter-square"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="text-white"
              href="https://www.linkedin.com/company/open-targets"
              target="_blank"
            >
              <i class="fab fa-2x fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="text-white"
              href="https://github.com/opentargets"
              target="_blank"
            >
              <i class="fab fa-2x fa-github-square"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="text-white"
              href="https://community.opentargets.org/"
              target="_blank"
            >
            <i class="fab fa-2x fa-discourse"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="text-white"
              href="youtube.com/opentargets"
              target="_blank"
            >
              <i class="fab fa-2x fa-youtube-square"></i>
            </a>
          </li>
        </ul>        
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify" />
        </a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Partners</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="https://www.bms.com/" target="_blank">Bristol Myers Squibb</a>
          </li>
          <li>
            <a class="text-white" href="https://www.ebi.ac.uk/" target="_blank">European Bioinformatics Institute</a>
          </li>
          <li>
            <a class="text-white" href="https://www.gene.com/" target="_blank">Genentech</a>
          </li>
          <li>
            <a class="text-white" href="https://www.gsk.com/" target="_blank">GSK</a>
          </li>
          <li>
            <a class="text-white" href="https://www.pfizer.com/" target="_blank">Pfizer</a>
          </li>
          <li>
            <a class="text-white" href="https://www.sanofi.com/" target="_blank">Sanofi</a>
          </li>
          <li>
            <a class="text-white" href="https://www.sanger.ac.uk/" target="_blank">Wellcome Sanger Institute</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Open Targets</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="/science">Science</a>
          </li>
          <li>
            <a class="text-white" href="/people">Team</a>
          </li>
          <li>
            <a class="text-white" href="/publications">Publications</a>
          </li>
          <li>
            <a class="text-white" href="/resources">Informatics tools</a>
          </li>
          <li>
            <a class="text-white" href="/jobs">Jobs</a>
          </li>
          <li>
            <a class="text-white" href="https://community.opentargets.org/" target="_blank">Community</a>
          </li>
          <li>
            <a class="text-white" href="https://blog.opentargets.org/" target="_blank">Blog</a>
          </li>
          <li>
            <a class="text-white" href="/contact">Contact</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div class="text-center py-3">
    Copyright © 2017-2024 Open Targets. All rights reserved.
  </div>

</footer>

