


<footer class="site-footer">

    <div class="container">

        <div class="row footer-col-wrapper">
            <div class="col-sm-12">
              Our partners
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-sm-offset-2 footer-partner-logo">
                    <a href="https://www.biogen.com/"><img class="" src="{{ site.url }}/assets/images/partners/biogen.png" alt="Biogen"></a>
                </div>
                <div class="col-xs-12 col-sm-2 footer-partner-logo">
                    <a href="http://www.ebi.ac.uk"><img class="" src="{{ site.url }}/assets/images/partners/ebi.png" alt="EMBL-EBI"></a>
                </div>
                <div class="col-xs-12 col-sm-1 footer-partner-logo">
                    <a href="http://www.gsk.com"><img class="" src="{{ site.url }}/assets/images/partners/gsk.png" alt="GSK"></a>
                </div>
                <div class="col-xs-12 col-sm-2 footer-partner-logo">
                    <a href="http://www.sanger.ac.uk"><img class="" src="{{ site.url }}/assets/images/partners/sanger.png" alt="Sanger" width="200"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-sm-offset-2 footer-partner-logo">
                    <a href="http://www.takeda.com"><img class="" src="{{ site.url }}/assets/images/partners/takeda.png" alt="Takeda"></a>
                </div>
                <div class="col-xs-12 col-sm-3 footer-partner-logo">
                    <a href="https://www.bms.com/"><img class="" src="{{ site.url }}/assets/images/partners/bristol-myers-squibb-logo.png" alt="Bristol Myers Squibb" width="300"></a>
                </div>
                <div class="col-xs-12 col-sm-2 footer-partner-logo">
                    <a href="https://www.sanofi.com"><img class="" src="{{ site.url }}/assets/images/partners/sanofi.png" alt="Sanofi"></a>
                </div>
            </div>
        </div>

        <div class="row footer-col-wrapper">
            <div class="col-xs-12 col-sm-3">
                Follow us
                <ul class="footer-social-list">
                    <li><a href="{{ site.linkedin }}"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="http://twitter.com/targetvalidate"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="{{ site.facebook }}"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://github.com/opentargets"><span class="fa fa-github"></span></a></li>
                </ul>


            </div>

            <div class="col-xs-12 col-sm-3">
                Contact us
                <ul class="footer-social-list">
                    <li><a href="mailto:{{ site.email }}"><span class="fa fa-envelope"></span><span class=""> support</span></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6">
                Copyright <span class="fa fa-copyright"></span> 2017 - 2020 Open Targets. All rights reserved.<br />
                 <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a><span>&nbsp;|&nbsp;</span><a href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a><span>&nbsp;|&nbsp;</span><a href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a>
            </div>
        </div>
    </div>

</footer>
