<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/ten-years-logo-colour.png" style="width:150px" alt="Ten year anniversary logo, Open Targets helix logo and wordmark">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/science">Science</a>
            <a class="dropdown-item" href="/history">History</a>
            <a class="dropdown-item" href="/partners">Partners</a>
            <a class="dropdown-item" href="/people">Team</a>
            <a class="dropdown-item" href="/news">News</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Research
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/publications">Publications</a>
            <a class="dropdown-item" href="/platform">Open Targets Platform</a>
            <a class="dropdown-item" href="/genetics">Open Targets Genetics</a>
            <a class="dropdown-item" href="/validation-lab">Open Targets Validation Lab</a>
            <a class="dropdown-item" href="/resources">Other informatics tools</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.opentargets.org/" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://community.opentargets.org/" target="_blank">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
