<div class="col-lg-6">
  {% if news_item.image_filename == null %}
    <img src="/assets/img/open_targets_logo_news_item_placeholder.png" class="img-fluid" alt="Open Targets Helix logo and wordmark"/>
  {% else %}
  <a href="{{ news_item.link }}/" target="_blank">
    <img src="/assets/img/{{ news_item.image_filename }}" class="img-fluid" alt="{{ news_item.image_alt_text }}"/>
  </a>
  {% endif %}
</div>
<div class="col-lg-6">
  <h4>{{ news_item.title }}</h4>
  <p class="mt-3">
    {{ news_item.date | date: "%-d %B %Y" }}
  </p>
  <p>
    {{ news_item.content }} 
  </p>
  <p class="card-title">
    <a href="{{ news_item.link }}" class="btn btn-primary" target="_blank">Read more</a>
  </p>
</div>  