<div class="row mb-5">
  <div class="col-12">
    <p>
      Open Targets brings together a team with expertise from academia and pharma, 
      pulling together skills from a wide range of disciplines including bioinformatics, 
      computer science, web development, human genetics, functional genomics and operations.
      Our <a href="#executive-leadership-team">Executive Leadership Team </a>and our
      <a href="#scientific-leadership-team">Scientific Leadership Team </a> determine the 
      strategic and scientific vision for the consortium and our 
      <a href="#operations-team">Strategy and Operations Team</a> provide the 
      necessary support to facilitate the vision and its implementation across our partners.
    </p>
    <p>
      Our <a href="/platform#platform-team">Platform Team</a> and our
      <a href="/genetics-portal#genetics-team">Genetics Team</a> are responsible for maintaining 
      our informatics resources and tools while our 
      <a href="#projects-team">Project Teams</a> conduct experimental and informatics research and our 
      <a href="/validation-lab#validation-lab-team">Validation Lab Team</a> takes targets identified from
      these projects and guides them through further screens to assess suitability
      for drug discovery programmes.
    </p>
    <p>
      And our <a href="#scientific-advisory-board">Scientific Advisory Board</a> are a group of 
      well-known individuals from academia and industry that make recommendations to further
      the sucess of our partnership. 
    </p>
  </div>
</div>