<div class="row">
  <div class="col-lg-12">
    <h3 id="projects-team">Project Teams</h3>
    <p>
      Through our <a href="/science">research programme</a>, we have funded more that 90 research positions 
      within the institutes that we work with and formed teams that engaged many more scientists across industry and academia to improve 
      target identification and prioritisation.
    </p>
    <p>
     One such team is the Validation Lab, which aids the translation of targets identified from our projects to drug discovery through in silico triage, orthogonal verification and mechanistic investigation. The Validation Lab is supported by our partners to ensure close connections with their interests and to increase the chances of target adoption in their drug discovery pipelines. 
    </p>
  </div>
</div>
    <div class="row mb-5">
      {% assign validation_lab_team = site.validation_lab_team | sort: 'last_name' %}
      {% for person in validation_lab_team %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-3 d-flex">
          <div class="card shadow-lg p-4 bg-white rounded align-self-stretch">
            <a data-toggle="modal" href="#modal-{{ person.last_name }}">
              <img class="card-img-top" src="/assets/img/people/{{ person.picture }}" alt="Photo of {{ person.first_name }} {{ person.last_name}}">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ person.first_name }} {{ person.last_name}}</h5>
              <p class="card-subtitle mb-3 line-height-3em">{{ person.role }}</p>
            </div>
          </div>
        </div>  
        <!-- Modal with biography -->
        <div class="modal fade" id="modal-{{ person.last_name}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ person.last_name }}Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content px-3 py-5">
              <div class="text-center">
                <h3>{{ person.first_name }} {{ person.last_name}}'s biography</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ person.content }}
                </p>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
