<div class="publication-block mb-4">
    <p class="font-weight-bold mb-1">{{ publication.title }}</p>
    <p class="mb-1">{{ publication.first_author }}</p>
    <p class="mb-1"><em>{{ publication.publication_name }}</em></p>
    <p>
        {% if publication.open_access == "TRUE" %}
    <div class="ot-news-tag"><a href="http://dx.doi.org/{{ publication.doi }}"><i data-lucide="lock-keyhole-open"
                class="mr-1"></i>Open
            Access</a></div>
    {% else %}
    <div class="ot-news-tag"><a href="http://dx.doi.org/{{ publication.doi }}">DOI: {{ publication.doi }}</a></div>
    {% endif %}
    {% if publication.preprint_available == "TRUE" %}
    <div class="ot-news-tag"><a href="{{ publication.preprint_link }}"><i data-lucide="scroll-text"
                class="mr-1"></i>Preprint</a></div>
    {% endif %}
    <!-- {% if publication.is_book_chapter == "TRUE" %}
    <a href="http://dx.doi.org/{{ publication.doi }}" class="badge badge-pill badge-light"><i
            class="fas fa-book mr-2"></i>Book chapter</a>
    {% endif %} -->
    </p>
</div>