<div class="mb-4">
  <p class="font-weight-bold mb-1">{{ publication.title }}</p>
  <p class="mb-1">{{ publication.first_author }}</p>
  <p class="mb-1"><em>{{ publication.publication_name }}</em></p>
  <p>
    {% if publication.open_access == "TRUE" %}
      <a href="http://dx.doi.org/{{ publication.doi }}" class="badge badge-pill badge-light"><img src="/assets/img/icons/open-access-icon-ot-blue.png" class="open-access-icon-sm mr-1"/>Open Access</a>
    {% endif %}
    {% if publication.full_text_available == "TRUE" %}
      <a href="http://europepmc.org/abstract/MED/{{ publication.pmid }}"  class="badge badge-pill badge-light"><i class="far fa-file-alt fa-1x mr-2"></i>Full text available (Europe PMC)</a>
    {% else %}
      <a href="http://dx.doi.org/{{ publication.doi }}"  class="badge badge-pill badge-light"><i class="far fa-file-alt fa-1x mr-2"></i>DOI: {{ publication.doi }}</a>
    {% endif %}
    {% if publication.preprint_available == "TRUE" %}
      <a href="{{ publication.preprint_link }}" class="badge badge-pill badge-light"><i class="far fa-file-alt mr-2"></i>Preprint available</a>
    {% endif %}
    {% if publication.is_book_chapter == "TRUE" %}
      <a href="http://dx.doi.org/{{ publication.doi }}" class="badge badge-pill badge-light"><i class="fas fa-book mr-2"></i>Book chapter</a>
    {% endif %}
  </p>
</div>