<div class="row mb-4" id="research-publications">
  <div class="col-lg-12">
    <h3>Research publications</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <!-- <a class="nav-item nav-link font-weight-bold" id="nav-2025-research-pub-tab" data-toggle="tab" href="#nav-2025-research-pub" role="tab" aria-controls="nav-2025-research-pub" aria-selected="false">2025</a> -->
        <!-- <a class="nav-item nav-link font-weight-bold" id="nav-2024-research-pub-tab" data-toggle="tab" href="#nav-2024-research-pub" role="tab" aria-controls="nav-2024-research-pub" aria-selected="false">2024</a> -->
        <!-- <a class="nav-item nav-link font-weight-bold" id="nav-2023-research-pub-tab" data-toggle="tab" href="#nav-2023-research-pub" role="tab" aria-controls="nav-2023-research-pub" aria-selected="false">2023</a>   -->
        <!-- <a class="nav-item nav-link font-weight-bold" id="nav-2022-research-pub-tab" data-toggle="tab" href="#nav-2022-research-pub" role="tab" aria-controls="nav-2022-research-pub" aria-selected="false">2022</a> -->
        <a class="nav-item nav-link font-weight-bold active" id="nav-2021-research-pub-tab" data-toggle="tab" href="#nav-2021-research-pub" role="tab" aria-controls="nav-2021-research-pub" aria-selected="true">2021</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-2020-research-pub-tab" data-toggle="tab" href="#nav-2020-research-pub" role="tab" aria-controls="nav-2020-research-pub" aria-selected="false">2020</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-2019-research-pub-tab" data-toggle="tab" href="#nav-2019-research-pub" role="tab" aria-controls="nav-2019-research-pub" aria-selected="false">2019</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-2018-research-pub-tab" data-toggle="tab" href="#nav-2018-research-pub" role="tab" aria-controls="nav-2018-research-pub" aria-selected="false">2018</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-2017-research-pub-tab" data-toggle="tab" href="#nav-2017-research-pub" role="tab" aria-controls="nav-2017-research-pub" aria-selected="false">2017</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-2016-research-pub-tab" data-toggle="tab" href="#nav-2016-research-pub" role="tab" aria-controls="nav-2016-research-pub" aria-selected="false">2016</a>
      </div>
    </nav>
  </div>
</div>
<div class="row mb-5">
  <div class="col-lg-12">
    <div class="tab-content py-4 px-3 px-sm-0" id="nav-tabContent">
      <!-- <div class="tab-pane fade" id="nav-2025-research-pub" role="tabpanel" aria-labelledby="nav-2025-research-pub-tab">
        {% assign all_2025_publications = site.data.research-publications | where: "publication_year", "2025" %}
        {% if all_2025_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2025_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div> -->
      <!-- <div class="tab-pane fade" id="nav-2024-research-pub" role="tabpanel" aria-labelledby="nav-2024-research-pub-tab">
        {% assign all_2024_publications = site.data.research-publications | where: "publication_year", "2024" %}
        {% if all_2024_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2024_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div> -->
      <!-- <div class="tab-pane fade" id="nav-2023-research-pub" role="tabpanel" aria-labelledby="nav-2023-research-pub-tab">
        {% assign all_2023_publications = site.data.research-publications | where: "publication_year", "2023" %}
        {% if all_2023_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2023_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div> -->
      <!-- <div class="tab-pane fade" id="nav-2022-research-pub" role="tabpanel" aria-labelledby="nav-2022-research-pub-tab">
        {% assign all_2022_publications = site.data.research-publications | where: "publication_year", "2022" %}
        {% if all_2022_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2022_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div> -->
      <div class="tab-pane fade show active" id="nav-2021-research-pub" role="tabpanel" aria-labelledby="nav-2021-research-pub-tab">
        {% assign all_2021_publications = site.data.research-publications | where: "publication_year", "2021" %}
        {% if all_2021_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2021_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade" id="nav-2020-research-pub" role="tabpanel" aria-labelledby="nav-2020-research-pub-tab">
        {% assign all_2020_publications = site.data.research-publications | where: "publication_year", "2020"  %}
        {% if all_2020_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2020_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade" id="nav-2019-research-pub" role="tabpanel" aria-labelledby="nav-2019-research-pub-tab">
        {% assign all_2019_publications = site.data.research-publications | where: "publication_year", "2019"  %}
        {% if all_2019_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2019_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade" id="nav-2018-research-pub" role="tabpanel" aria-labelledby="nav-2018-research-pub-tab">
        {% assign all_2018_publications = site.data.research-publications | where: "publication_year", "2018"  %}
        {% if all_2018_publications.size == 0 %}
          <p>
            There are no research publications available for this year.
          </p>
        {% else %}
          {% for publication in all_2018_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade" id="nav-2017-research-pub" role="tabpanel" aria-labelledby="nav-2017-research-pub-tab">
        {% assign all_2017_publications = site.data.research-publications | where: "publication_year", "2017"  %}
        {% if all_2017_publications.size == 0 %}
        <p>
          There are research publications available for this year.
        </p>
        {% else %}
          {% for publication in all_2017_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade" id="nav-2016-research-pub" role="tabpanel" aria-labelledby="nav-2016-research-pub-tab">
        {% assign all_2016_publications = site.data.research-publications | where: "publication_year", "2016"  %}
        {% if all_2016_publications.size == 0 %}
        <p>
          There are no research publications available for this year.
        </p>
        {% else %}
          {% for publication in all_2016_publications %}
            {% include publication_article_citation.html %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>