<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/5-year-celebration.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading mb-3">   
                <h4>Open Targets celebrates 5-year anniversary</h4>
                <h6>June 2019</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Colleagues from all of our consortium partners gathered at the Wellcome
                  Genome Campus in Hinxton, UK to celebrate 5 years of Open Targets and plan the milestones for our 
                  next 5 years.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/lung-paper.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Single cell lung map published in <i>Nature Medicine</i></h4>
                <h6>June 2019</h6>
              </div>
              <div class="timeline-body">
                  <p class="text-muted mb-3">Open Targets researchers map health and asthmatic lung tissue
                    to uncover new drug targets for treating asthma 
                  </p>
                  <a href="https://www.nature.com/articles/s41591-019-0468-5" target="_blank" class="btn btn-primary">Read the publication</a>
                </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/cancer-crispr-paper.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Large-scale release of CRISPR data from Project Score publication </h4>
                <h6>April 2019</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">
                  Open Targets publishes results from its landmark experimental project where CRISPR technology was
                  used in over 300 cancer models to discover thousands of key genes essential for cancer's survival. 
                </p>
                <a href="https://www.nature.com/articles/s41586-019-1103-9" target="_blank" class="btn btn-primary">Read the publication</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/ian-dunham.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Ian Dunham appointed Open Targets Director</h4>
                <h6>January 2019</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Sanofi joins the consortium and brings its expertise in immunology, oncology, neurosciences and diabetes 
                  to help us identify potential drug targets.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/ian-dunham-open-targets-director" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/sanofi-logo.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Sanofi joins Open Targets</h4>
                <h6>October 2018</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Sanofi joins the consortium and brings its expertise in immunology, oncology, neurosciences and diabetes 
                  to help us identify potential drug targets.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/sanofi-joins-open-targets" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/genetics-portal.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Open Targets Genetics Portal beta release</h4>
                <h6>August 2018</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Prior to the official release at ASHG 2018, we released a beta
                  version of the Genetics Portal allowing users to browse gene-variant-trait relationships
                  from UK Biobank data and GWAS Catalog studies
                </p>
                <a href="https://genetics.opentargets.org/" target="_blank" class="btn btn-primary">Explore the Genetics Portal</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/celgene-logo.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Celgene joins Open Targets</h4>
                <h6>May 2018</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Celgene joins Open Targets and brings its expertise in developing
                  innovative therapies for patients with cancer, immune-inflammatory, and other unmet medical needs.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/celgene-joins-open-targets" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/rolf-apweiler.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Rolf Apweiler appointed Interim Director</h4>
                <h6>August 2018</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Rolf Apweiler becomes the Interim Director for Open Targets and continues
                  to foster new partnerships and collaborations to drive drug discovery.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/takeda-logo.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Takeda joins Open Targets</h4>
                <h6>December 2017</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Takeda joins Open Targets and brings its expertise in oncology, 
                  gastroenterology and central nervous system therapeutic areas, along with vaccines.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/takeda-joins-drug-target-discovery-initiative" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/open-targets-helix.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>New brand, new data: introducing Open Targets</h4>
                <h6>April 2016</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">To celebrate the release of our first experimental data, CTTV
                  rebrands itself as Open Targets but maintains its focus on helping researchers identify
                  and prioritise potential therapeutic drug targets.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/open-targets-new-name-new-data" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/biogen-logo.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Biogen joins Open Targets</h4>
                <h6>February 2016</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">Biogen joins Open Targets and brings its expertise in innovative therapies 
                  for the treatment of neurodegenerative diseases, hematologic conditions and autoimmune disorders.
                </p>
                <a href="https://www.sanger.ac.uk/news/view/biogen-joins-pioneering-target-validation-collaboration-cttv" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/cttv-platform-launch.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2015</h4>
                <h4 class="subheading">Target Validation Platform launched</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">
                  Underscoring our commitment to share our data openly to benefit the broader scientific community, we launched a new web
                  platform to help researchers identify therapeutic targets for new and repurposed medicines.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/target-validation-platform-launches" target="_blank" class="btn btn-primary">Read the press release</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/jeff-barrett.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2015</h4>
                <h4 class="subheading">Jeffrey Barrett appointed founding Director</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted mb-3">After leading the development of the Immunochip genotyping array and playing an important role in UK10K,
                    Dr Jeffrey Barrett is appointed as the founding Director of the Centre for Therapeutic Target Validation (CTTV).
                  </p>
                  <a href="https://www.ebi.ac.uk/about/news/press-releases/jeff-barrett-appointed-cttv-director" target="_blank" class="btn btn-primary">Read the press release</a>
                </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image bg-white">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/cttv-logo.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Centre for Therapeutic Target Validation launched</h4>
                <h6>March 2014</h6>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">The predecessor to Open Targets was founded in March 2014 when the European Bioinformatics
                  Institute (EMBL-EBI), the Wellcome Sanger Institute, and GSK came together to build a partnership
                  that would focus on target identification, prioritisation, and validation.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/CTTV-launch" target="_blank" class="btn btn-primary">Press release</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>