<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/cttv-launch-icon.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2014</h4>
                <h4 class="subheading">Centre for Therapeutic Target Validation launched</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">The predecessor to Open Targets was founded in March 2014 when the European Bioinformatics
                  Institute (EMBL-EBI), the Wellcome Sanger Institute, and GSK came together to build a partnership
                  that would focus on target identification, prioritisation, and validation.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/CTTV-launch" target="_blank" class="btn btn-primary">Press release</a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/jeff-barrett-icon.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2015</h4>
                <h4 class="subheading">Dr Jeffrey Barrett appointed founding Director</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted mb-3">After leading the development of the Immunochip genotyping array and playing an important role in UK10K,
                    Dr Jeffrey Barrett is appointed as the founding Director of the Centre for Therapeutic Target Validation (CTTV).
                  </p>
                  <a href="https://www.ebi.ac.uk/about/news/press-releases/jeff-barrett-appointed-cttv-director" target="_blank" class="btn btn-primary">Press release</a>
                </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/cttv-platform-launch-icon.png\" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2015</h4>
                <h4 class="subheading">Target Validation Platform launched</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted mb-3">
                  Underscoring our commitment to share our data openly to benefit the broader scientific community, we launched a new web
                  platform to help researchers identify therapeutic targets for new and repurposed medicines.
                </p>
                <a href="https://www.ebi.ac.uk/about/news/press-releases/target-validation-platform-launches" target="_blank" class="btn btn-primary">Press release</a>
              </div>
            </div>
          </li>
          <!-- <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                  sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2012</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                  sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                  sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!</p>
              </div>
            </div>
          </li> -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <a href="/science">
                <h4>Learn more
                  <br>about
                  <br>Open Targets</h4>
              </a>

            </div>
          </li>
        </ul>
      </div>
    </div>


  </div>
  </div>
</section>