<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for event in site.history_timeline reversed %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% capture class %}
              {% if loopindex == 0 %}
                timeline-inverted
              {% endif %}
            {% endcapture %}
            <li class="{{class}}">
              <div class="timeline-image bg-white">
                <img class="rounded-circle img-fluid" src="/assets/img/timeline/{{event.image_filename}}" alt="{{event.image_alt_text}}" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading mb-3">   
                  <h4>{{event.title}}</h4>
                  <h6>{{event.date | date: "%B %Y"}}</h6>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ event.content }}</p>
                  {% if event.link != null %}  
                  <p class="text-muted mt-3">
                    <a href="{{event.link}}" target="_blank" class="btn btn-primary">Read more</a>
                  </p>                  
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>