@import url('https://rsms.me/inter/inter.css');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Inter",Helvetica,Arial,sans-serif;
$ot-corp-blue: #3489ca;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-link:hover {
  color: $ot-corp-blue;
  font-weight: 600;
}