/* Hero */
.partnership-hero {
    background-image: url('/assets/img/illustrative/coffee_session.png');
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
}

.partnership-hero-inner {
    max-width: 640px;
    background-color: $white;
    padding: 2rem 2rem;
    border-radius: 8px;
    margin-left: 0;
}

.partnership-hero .ot-lead {
    margin-bottom: 0;
}