/* Custom styling for the dropdown menu items to override the styling of the site navigation */

.ot-collapsible-tabs .nav-link {
    color: $ot-corp-blue;
}

.ot-collapsible-tabs .nav-link:hover {
    color: $ot-corp-blue-mid;
}

.ot-collapsible-tabs .nav-link.active {
    color: $ot-corp-grey;
}

.ot-collapsible-tabs .dropdown-item {
    color: $ot-corp-blue;
}

.ot-collapsible-tabs .dropdown-item.active {
    color: $ot-corp-grey;
}