// $ot-corp-blue: #3489ca;
// $ot-grey: #5a5f5f;

// nav > .nav.nav-tabs {
//   border: none;
//   color: #fff;
//   background: $ot-corp-blue;
//   border-radius: 0;
// }

// nav > div a.nav-item.nav-link,
// nav > div a.nav-item.nav-link.active {
//   border: none;
//   padding: 18px 25px;
//   color: #fff;
//   background: $ot-corp-blue;
//   border-radius: 0;
// }

// nav > div a.nav-item.nav-link.active:after {
//   content: "";
//   position: relative;
//   bottom: -60px;
//   left: -10%;
//   border: 15px solid transparent;
//   border-top-color:$ot-corp-blue;
// }

// .tab-content {
//   background: #fdfdfd;
//   line-height: 25px;
//   border: 1px solid #ddd;
//   border-top: 5px solid $ot-grey;
//   border-bottom: 5px solid $ot-grey;
//   padding: 30px 25px;
// }

// nav > div a.nav-item.nav-link:hover,
// nav > div a.nav-item.nav-link:focus {
//   border: none;
//   background: #e74c3c;
//   color: #fff;
//   border-radius: 0;
//   transition: background 0.2s linear;
// }
