---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import "minima";




$brand-color: #0091EB;
$brand-red: #FF6350;
$brand-darkblue: #1e5799;

h1, h2, h3, h4, h5, h6 {
  color: $brand-color;
}

body {
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
}

a, a:visited{
    color: $brand-color;
    &:hover{
        text-decoration: none;
        color: $brand-darkblue;
    };
}

.post-title {
    font-size: 32px;
}

.page-content{
    min-height: 80vh;
}

.main-bst-page{
    margin-top:30px;
    margin-bottom: 30px;
    min-height: 70vh;
}

.main-bst-page-h{
    min-height: 30vh;
}

.site-footer{
    border-top: 1px solid #e8e8e8;
    background: #f5f5f5;
}

.footer-col-wrapper{
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.footer-col-3 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
}

.footer-h{
    color: #555;
}


/* Navigation */



.site-nav .page-link {
    color: #444;


        //display: block;
        //padding: 0.7rem 1rem;
        padding: 0.5rem 0.5rem;
    &:hover{
        background: $brand-color;
        color: #FFF;
        text-decoration: none;
    }

    &:not(:last-child){
        margin-right:0px;
    }

    &:last-child{
        color: $brand-color;
        &:hover{
            color:#FFF;
        };
    }
}

.button-small{
    color: #fff !important;
    //word-spacing: 0.25em;
    //font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
.button-small:visited{
      color: #fff;
}
.button-small{
    padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
}
.button-small:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}

.blue_normal {
    background: $brand-color;
}

.rounded3 {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.footer-logos {
    //padding-right: $spacing-unit / 4;
    //padding-left: $spacing-unit / 4;
    padding: 0px 20px;
}

.footer-partner-logo{
    text-align: center;
    margin-bottom: 20px;
}

.site-title {
  font-size: $base-font-size * 1;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: +1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.footer-social-list{
    margin-left: 0px;
    li{
        display: inline-block;
        padding-right: 10px;
        //padding-left: 5px;

        list-style-type: none;
        margin-left: 0;
        //margin-bottom: 5px;
    }

}


#left {
      width: 200px;
      float: left;
    }
    #right {
      margin-left: 200px;
      /* Change this to whatever the width of your left column is*/
    }
    .clear {
      clear: both;
    }

.biopic{
    /*float: left;
    width: 150px;
    clear: both;
    padding: $spacing-unit;
      @extend %clearfix;*/

    margin-bottom: 20px;
    height: 150px;
}

.bioentry{
    margin-bottom: 10vw;
}


.embed-container {
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}


.site-header {
    border-bottom: none;
    border-top: none;
    padding-top: 20px;
}

.site-logo {
    display: inline-block;
    height: 50px;
    padding: 7px 0px;
}


.hero {
    color: #FFF !important;
    /*padding: 60px 50px;*/
    margin-bottom: 20px;
    background-color: #0091EB;
    background: -webkit-linear-gradient(left,#0091EB 0,#1e5799 100%);
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    /* border-radius: 5px; */
    .container{
        padding: 15vh 10vw;
    }
}

.masthead{
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
    background-color: #0091EB;
    background: -webkit-linear-gradient(left,#0091EB 0,#1e5799 100%);
}

.masthead-navigation {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 50px;


    .masthead-nav-item{
        display: block;
        float: left;

        a.page-link, a.page-link-special{
            color: #FFF;
            padding: 0 10px;
            height: 50px;
            display: table-cell;
            vertical-align: middle;

            &:hover{
                background: rgba(0,0,0,.1);
                color: #FFF;
                text-decoration: none;
            }
        }

        a.page-link-special{
            /*color: $brand-color;*/
            color: #FFF;
            background: $brand-color;
            &:hover{
                color:#FFF;
            };
        }

        /*&:last-child{
            a.page-link{
                color: $brand-color;
                &:hover{
                    color:#FFF;
                };
            }
        }*/

    }
}



hr {
    margin-top: 30px;
    margin-bottom: 30px;
}



/*
        //display: block;
        //padding: 0.7rem 1rem;
        //padding: 0.5rem 0.5rem;


    &:not(:last-child){
        margin-right:0px;
    }

    &:last-child{
        color: $brand-color;
        &:hover{
            color:#FFF;
        };
    }
*/


