---
layout: default
permalink: /people
title: People
---

{% include page_header.html %}

<section class="my-5 py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <p>
          Open Targets brings together a team with expertise from academia and pharma, 
          pulling together skills from a wide range of disciplines including bioinformatics, 
          computer science, web development, human genetics, functional genomics and operations.
        </p>
      </div>
    </div>
    <hr class="m-5" />
    {% include executive_leadership_team.html %}
    <hr class="m-5" />
    {% include scientific_leadership_team.html %}
    <hr class="m-5" />
    {% include project_teams.html %}
    <hr class="m-5" />
    {% include strategy_operations_team.html %}
    <hr class="m-5" />
    {% include scientific_advisory_board.html %}
  </div>
</section>
