---
layout: default
permalink: /publications
title: Publications
---

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Publications<h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5 my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p>
          We aim to rapidly publish high impact <a href="#research-publications">research publications</a>
          and openly share our data as part of our commitment to supporting pre-competitive research in drug discovery.
          We also publish <a href="#review-articles">review articles</a> on relevant topics in drug discovery.  
        </p>
      </div>
    </div>
    {% include research_publications.html %}
    <hr class="m-5" />
    {% include review_articles.html %}
  </div>
</section>