---
layout: default
permalink: /resources
title: Informatics tools
---

{% include page_header.html %}

<section class="my-5 py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p>
          We maintain a variety of specialised, freely-available, open-source informatics tools that help research scientists 
          from around the world answer specific research questions and identify and prioritise potential therapeutic drug targets.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      {% for resource in site.resources reversed %}
        {% include resources_page_item.html %}
      {% endfor %} 
    </div>
  </div>
</section>