---
layout: default
---

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Contact us</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>General questions</h4>
        <p>
          Do you want to learn more about Open Targets? Or are you interested in learning about how your 
          organisation might interact with Open Targets? If so, please email us at 
          <a href="mailto:contact@opentargets.org">contact@opentargets.org</a>. 
          Your message will be sent to the executive leadership team.
        </p>
        <h4>Media enquiries</h4>
        <p>
          To learn more about Open Targets or to arrange an interview with one of our scientists, 
          please contact our press team. Your email will be sent to the press teams at our partner
          organisations.
        </p>
        <p>
          Email: <a href="mailto:press@opentargets.org">press@opentargets.org</a>
        </p>
        <p>
          Tel: +44 (0)1223 494 369
        </p>
        <h4>Platform or Genetics Portal questions</h4>
        <p>
          If you have any questions about the Platform or Genetics Portal, you can visit
          our Platform documentation and Genetics Portal documentation. You can also email us at support@targetvalidate.org. 
          Or you can visit our GitHub page and raise an issue.
        </p>
      </div>
    </div>
  </div>
</section>
