<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
     <!-- Google Analytics -->
     <script async="" src="https://www.google-analytics.com/analytics.js"></script>
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');    
      ga('create', 'UA-101860681-11', 'auto');
      ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Open Targets is a public-private initiative to generate evidence on the validity of therapeutic targets based on genome-scale experiments and analysis.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/3624e8890c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include navigation.html %}
    {{ content}}
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/js/contact-form.js"></script>
    
    <!-- Cookie notification -->
    <script type="text/javascript" 
            id="cookiebanner"
            src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js"
            padding="20px 20px 20px 20px"
            data-message="<a href='#'></a><p class='my-3'>This website requires cookies and the limited processing of your personal data in order to function. <br />By using the site, you are agreeing to this as outlined in our 
            <a href='https://www.ebi.ac.uk/data-protection/privacy-notice/open-targets' target='_blank'>Data Protection and Privacy Policy</a>.</p>"
            data-Padding="20px 20px"
            data-linkmsg = ""
            data-moreinfo = "#"
            data-link="#3489ca"
            data-font-size="16px"
            data-font-family="inherit"
            data-close-precedes="false"
            data-close-style=""
            data-close-text="<span class='mb-3 btn btn-success btn-xs'><i class='fa fa-check-circle'></i> OK</span>">
    </script>
  </body>
</html>
