---
layout: default
---
  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One -->
        <div class="carousel-item active" style="background-image: url('assets/img/homepage-hero-generic.png')">
          <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                <img src="assets/img/ot-logo-white.png" style="width:300px;" alt="Open Targets helix logo and wordmark in white" class="mb-2"/>
                    <h2 class="mt-5">
                      A partnership to transform drug discovery 
                      <br />
                      through the systematic identification and 
                      <br />
                      prioritisation of targets
                      </h2>
              </div>
            </div>
        </div>
        <!-- Slide Two -->
        <div class="carousel-item" style="background-image: url('assets/img/homepage-hero-platform.jpg')">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100">
              <div style="background-color:white; max-width:600px" class="ml-5 py-5 px-4">
                  <h2 class="mb-4">The Open Targets Platform</h2>
                  <p>A freely-available, comprehensive, and robust  data integration service 
                    that brings together multiple public data sources and helps scientists 
                    identify and prioritise potential therapeutic drug targets for 
                    further investigation.</p>
                  <button class="btn btn-primary">Visit the Open Targets Platform</button>
              </div>
            </div> 
          </div>
        </div>

        <!-- Slide Three -->
        <div class="carousel-item" style="background-image: url('assets/img/homepage-hero-genetics.jpg')">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100">
              <div style="background-color:white; max-width:600px" class="ml-5 py-5 px-4">
                  <h2 class="mb-4">The Open Targets Genetics Portal</h2>
                  <p>A freely-available, comprehensive, and robust  data integration service 
                    that brings together multiple public data sources and helps scientists 
                    identify and prioritise potential therapeutic drug targets for 
                    further investigation.</p>
                  <button class="btn btn-primary">Visit the Open Targets Genetics Portal</button>
              </div>
            </div> 
          </div>
        </div>

                
      </div>

    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5 my-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h1 class="font-weight-light text-uppercase text-center">ABOUT OPEN TARGETS</h1>
            <p>
                Open Targets is an innovative, large-scale, multi-year, public-private partnership that uses human genetics and genomics data for systematic drug target identification and prioritisation.
            </p>
            <p>
                Generating and interpreting the data required to identify a good drug target demands a diverse set of skills, backgrounds, evidence types and technologies, which do not exist today in any single entity. Open Targets brings together expertise from seven complementary institutions to systematically identify and prioritise targets from which safe and effective medicines can be developed.
            </p>
            <p>
                Visit the Open Targets Platform which integrates public domain data to enable target identification and prioritisation, or the Open Targets Genetics Portal which identifies targets based on GWAS and functional genomics.
            </p>
            <div class="text-center my-5">
                <button class="btn btn-primary">Open Targets Platform</button> <button class="btn btn-primary">Open Targets Genetics Portal</button>
            </div>
            
        </div>
          
      </div>

      <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div style="background-color:#3489ca" class="text-center">
                  <span style="font-size: 100px; color:white;">
                      <i class="fas fa-crosshairs"></i>
                    </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Identifying targets</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Learn more ...</a>
                </div>                
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                <div style="background-color:#3489ca" class="text-center">
                    <span style="font-size: 100px; color:white;">
                        <i class="fas fa-book-open"></i>
                      </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Rapid publication</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="text-center">
                      <a href="#" class="btn btn-primary">Learn more ...</a>
                  </div>                
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div style="background-color:#3489ca" class="text-center">
                      <span style="font-size: 100px; color:white;">
                          <i class="fas fa-exchange-alt"></i>
                        </span>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Collaboration</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Learn more ...</a>
                    </div>                
                  </div>
                </div>
              </div>

      </div>
      
    </div>
  </section>