---
layout: default
---
  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One -->
        <div class="carousel-item active" style="background-image: url('assets/img/homepage-hero-generic.png')">
          <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                <img src="assets/img/ot-logo-white.png" style="width:300px;" alt="Open Targets helix logo and wordmark in white" class="mb-2"/>
                    <h2 class="mt-5">
                      A partnership to transform drug discovery 
                      <br />
                      through the systematic identification and 
                      <br />
                      prioritisation of targets
                      </h2>
              </div>
            </div>
        </div>
        <!-- Slide Two -->
        <div class="carousel-item" style="background-image: url('assets/img/homepage-hero-platform.jpg')">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100">
              <div style="background-color:white; max-width:600px" class="ml-5 py-5 px-4">
                  <h2 class="mb-4">The Open Targets Platform</h2>
                  <p>A freely-available, comprehensive, and robust  data integration service 
                    that brings together multiple public data sources and helps scientists 
                    identify and prioritise potential therapeutic drug targets for 
                    further investigation.</p>
                  <button class="btn btn-primary">Visit the Open Targets Platform</button>
              </div>
            </div> 
          </div>
        </div>

        <!-- Slide Three -->
        <div class="carousel-item" style="background-image: url('assets/img/homepage-hero-genetics.jpg')">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100">
              <div style="background-color:white; max-width:600px" class="ml-5 py-5 px-4">
                  <h2 class="mb-4">The Open Targets Genetics Portal</h2>
                  <p>A freely-available, comprehensive, and robust  data integration service 
                    that brings together multiple public data sources and helps scientists 
                    identify and prioritise potential therapeutic drug targets for 
                    further investigation.</p>
                  <button class="btn btn-primary">Visit the Open Targets Genetics Portal</button>
              </div>
            </div> 
          </div>
        </div>

                
      </div>

    </div>
  </header>
