---
layout: default
---

{% capture now %}{{ "now" | date: "%s" | plus: 0 }}{% endcapture %} 
{% assign active_job_ads = site.data.jobs | sort: 'closing_date' %}

<header class="py-5" style="background-color:#3489ca">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h1>Come and join our team!</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        Please note that some applications will be reviewed on an ongoing basis and the advertised post(s) 
        may be filled before the stated deadline.
      </div>
    </div>
  </div>
</section>
  
<section class="my-5">
  <div class="container">
      {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
      {% assign active_job_ads = site.data.jobs | sort: 'closing_date' %}
      {% for job in active_job_ads %}
          {% capture closing_date %}{{ job.closing_date | date: '%s' | plus : 86400 }}{% endcapture %}
          {% if closing_date > now %}
          <div class="row mb-5">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">{{ job.title }}</h3>
                  <img class="my-3" src="/assets/img/logos/{{ job.logo }}" />
                  <h5 class="card-text">
                    Application closing date: <b>{{ job.closing_date | date: "%-d %B %Y" }}</b> CLOSING SOON!
                  </h5>
                  <p class="my-3 card-text">
                    {{ job.description | truncate: 300 }}
                    <a class="" href="{{ job.link }}">[ read more ]</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      {% endfor %}     

  </div>
</section>
